<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :profile_address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :profile_age %>
  </div>

  <%= form.file_field :avatar%>

  <div class="field">
    <%= form.label :father_name %>
    <%= form.text_field :father_name, id: :profile_father_name %>
  </div>

  <div class="field">
    <%= form.label :mother_name %>
    <%= form.text_field :mother_name, id: :profile_mother_name %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_area :qualification, id: :profile_qualification %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
