<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @profile.father_name %>
</p>
<% if @profile.avatar.present? %>
  <div class="col-sm-2">
    <%= image_tag @profile.avatar.url  ,class: "img-responsive"%>
  </div>
<% end %>


<p>
  <strong>Mother name:</strong>
  <%= @profile.mother_name %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @profile.qualification %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
