<%= form_with(model: retweet, local: true) do |form| %>
  <% if retweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(retweet.errors.count, "error") %> prohibited this retweet from being saved:</h2>

      <ul>
      <% retweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.hidden_field :tweet_id, id: :retweet_tweet_id %>


  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :retweet_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
