<p id="notice"><%= notice %></p>

<h1>Retweets</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retweets.each do |retweet| %>
      <tr>
        <td><%= retweet.tweet %></td>
        <td><%= retweet.message %></td>
        <td><%= link_to 'Show', retweet %></td>
        <td><%= link_to 'Edit', edit_retweet_path(retweet) %></td>
        <td><%= link_to 'Destroy', retweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Retweet', new_retweet_path %>
