<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @retweet.tweet %>
</p>

<p>
  <strong>Message:</strong>
  <%= @retweet.message %>
</p>

<%= link_to 'Edit', edit_retweet_path(@retweet) %> |
<%= link_to 'Back', retweets_path %>
