<% content_for :top_content do %>
  <% if user_signed_in? %>
    <!-- true -->
  <% else %>

  <% end %>
  <div class="col-sm-6">
    <div class="">
      <label for="">All Tweets</label>
    </div>
    <% @all_tweets.each do |tweet| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-10">
          <%= tweet.message %>
          <% if tweet.tweetimg.present? %>
            <div class="col-sm-2">
              <%= image_tag tweet.tweetimg.url  ,class: "img-responsive"%>
            </div>
          <% end %>
          <% @retweets = Retweet.where(tweet_id: tweet.id) %>
          <% if @retweets.present?  %>
            <% @retweets.each do |retweet| %>
            <br>
            <div class="col-sm-10 col-sm-offset-1">
              <%= retweet.message %> <br>
            </div>

            <% end %>
          <% end %>
        </div>
        <div class="col-sm-1 col-sm-offset-6" id="fav_sec_<%=tweet.id%>">
          <% if   current_user.favs.where(tweet_id: tweet.id).present? %>
            <%= form_for tweet, as: :post, url: "unlike_tweet/#{tweet.id}" , method: :POST , remote: true , :html => {class: ""  } do |f| %>
              <%= button_tag(type: "submit", class: "btn btn-danger btn-xs " , data: { }) do %>
                 UnLike
              <% end %>
            <% end %>

          <% else %>
            <%= form_for tweet, as: :post, url: "like_tweet/#{tweet.id}" , method: :POST , remote: true , :html => {class: ""  } do |f| %>
              <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
                 Like
              <% end %>
           <% end %>
          <% end %>
        </div>
        <div class="col-sm-1">
          <%= form_for tweet, url: "retweet_new/#{tweet.id}" , method: :GET , remote: true , :html => {class: ""  } do |f| %>
            <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
               Reply
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-1">
          <%= form_for tweet, url: "tweet_retweet/#{tweet.id}" , method: :POST  , :html => {class: ""  } do |f| %>
            <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
               Retweet
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

    <!-- Reply Modal -->
    <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="replyModalLabel">Reply</h4>
          </div>
          <div class="modal-body" id="reply_sec">

          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

  <div class="col-sm-4">
      <% if  user_signed_in? %>
      <div class="">
        <label for="">Your Tweets(<%= @tweets.count%>)</label>
      </div>
      <% if @tweets.present? %>
        <% @tweets.each do |tweet| %>
          <div class="">
            <%= tweet.message %>
          </div>
          <% if tweet.tweetimg.present? %>
            <div class="col-sm-2">
              <%= image_tag tweet.tweetimg.url  ,class: "img-responsive"%>
            </div>
          <% end %>
          <br>

        <% end %>
      <% else %>
        <div class="">
          You did't Tweet till now!
        </div>
      <% end %>

    <% end %>

  </div>

  <div class="col-sm-2">
    <!-- Button trigger modal -->
    <% if user_signed_in?  %>
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
        New Tweet
      </button>
      <div class="clearfix">
      </div>
      <br>

      <div class="">
        <div class="">
          <label for="">User List </label>
        </div>
        <% @users.each do |user| %>
          <div class="col-sm-8">
            <%= user.name %>
          </div>
          <div class="col-sm-4" id="follow_sec_<%=user.id%>">

              
              <% if current_user.profile.follows.where(user_id: user.id).present? %>
                <%= form_for user, as: :post, url: "user_unfollow/#{user.id}" , method: :POST , remote: true , :html => {class: "delete_lang"  } do |f| %>
                  <%= button_tag(type: "submit", class: "btn btn-danger btn-xs " , data: { }) do %>
                     UnFollow
                  <% end %>
               <% end %>

              <% else %>

                <%= form_for user, as: :post, url: "user_follow/#{user.id}" , method: :POST , remote: true , :html => {class: "delete_lang"  } do |f| %>
                  <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
                     Follow
                  <% end %>
               <% end %>

              <% end %>



          </div>
          <div class="clearfix">

          </div>
          <br>
        <% end %>
      </div>

    <% end %>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <%= render 'tweets/form', tweet: @tweet %>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("form").submit(function() {
  $(this).submit(function() {
  return false;
  });
  return true;
  });
</script>
