<%= form_with(model: fav, local: true) do |form| %>
  <% if fav.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fav.errors.count, "error") %> prohibited this fav from being saved:</h2>

      <ul>
      <% fav.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :fav_user_id %>
  </div>

  <div class="field">
    <%= form.label :tweet_id %>
    <%= form.text_field :tweet_id, id: :fav_tweet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
