<%= form_for tweet, as: :post, url: "like_tweet/#{tweet.id}" , method: :POST , remote: true , :html => {class: ""  } do |f| %>
  <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
     Like
  <% end %>
<% end %>
