<%= form_for tweet, as: :post, url: "unlike_tweet/#{tweet.id}" , method: :POST , remote: true , :html => {class: ""  } do |f| %>
  <%= button_tag(type: "submit", class: "btn btn-danger btn-xs " , data: { }) do %>
     UnLike
  <% end %>
<% end %>
