<p id="notice"><%= notice %></p>

<h1>Favs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favs.each do |fav| %>
      <tr>
        <td><%= fav.user %></td>
        <td><%= fav.tweet %></td>
        <td><%= link_to 'Show', fav %></td>
        <td><%= link_to 'Edit', edit_fav_path(fav) %></td>
        <td><%= link_to 'Destroy', fav, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fav', new_fav_path %>
