<%= form_for user, as: :post, url: "user_follow/#{user.id}" , method: :POST , remote: true , :html => {class: "delete_lang"  } do |f| %>
  <%= button_tag(type: "submit", class: "btn btn-primary btn-xs " , data: { }) do %>
     Follow
  <% end %>
<% end %>
