<%= form_for user, as: :post, url: "user_unfollow/#{user.id}" , method: :POST , remote: true , :html => {class: "delete_lang"  } do |f| %>
  <%= button_tag(type: "submit", class: "btn btn-danger btn-xs " , data: { }) do %>
     UnFollow
  <% end %>
<% end %>
