<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @follow.profile %>
</p>

<p>
  <strong>User:</strong>
  <%= @follow.user %>
</p>

<%= link_to 'Edit', edit_follow_path(@follow) %> |
<%= link_to 'Back', follows_path %>
